<h1>Enter Your Historical Landmark</h1>

<break></break>
<form action="/landmarks" method="post">
  <p><label>Landmark: <input type="text" name="landmark[name]" id="landmark_name"></label></p>
  <p><label>Landmark Year: <input type="number" name="landmark[year_completed]" id="landmark_year_completed"></label</p>

  <break></break>

  <p><button type="submit" value="submit">Create New Landmark</button>
</form>
